<!DOCTYPE html>
<html>
<head>
	<title>Scope Blogs</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/scope.css" />
	<link rel="stylesheet" href="/css/profile.css" />
</head>
<body>

	<div class="nav">
		<a href="/post/dashboard/" class="nav-item">Dashboard</a>
		<a href="/post/new/" class="nav-item">New Post</a>
		<a href="/post/search/" class="nav-item">Search</a>
		<a href="/user/profile/<%= user._id %>" class="nav-item"> Profile </a>
		<a href="/user/settings" class="nav-item">Settings</a>
	</div>


	<h3><%= user.username %> </h3>

	<img class="user-photo" src="<%= user.profile_pic %>" onerror="this.src='/img/profilepic.png' " />

	<% posts.forEach((post) =>{ %>
		<div id="<%= post._id %>" class="dashboard-post">
			<h1> <%= post.title %> </h1>
			<img src="<%= post.image %>" alt="<%= post.description %>"/>
			<p> <%= post.description %> </p>
			<% post.tags.forEach((tag) => { %>
				<a href="/post/search/<%= tag %>" class="post-tag"> <%= tag %> </a>
			<% }) %>

			<br/>
		</div>
	<% }) %>


</body>
</html>


